RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home$ index.php [L]
RewriteRule ^company$ about.php [L]
RewriteRule ^about$ about.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^gallery$ gallery.php [L]
RewriteRule ^blog$ blog.php [L]
RewriteRule ^blog-details$ blog-details.php [L]