:root{
    --primary-color:rgb(0 128 1);
    --rowdies-font:"Rowdies", sans-serif;
    --josefin-sans-font:"Josefin Sans", sans-serif;
    --poetsen-one-font:"Poetsen One", sans-serif;
    --lower: 100;
    --upper: 700;
}
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
/*==================================================================
                        common styles
==================================================================*/
*{
    /* font-family: var(--josefin-sans-font); */
    font-family: var(--poetsen-one-font);
    
}
p{
    font-family: var(--josefin-sans-font);
}
.sctn-1,.sctn-2,.sctn-3,.sctn-4,.sctn-5,.sctn-6{
    position: relative;
    z-index: 0;
    padding: 100px 0;
}
h2{
    font-size: 3rem;
    text-transform: capitalize;
    padding-bottom: 30px;
}
body{
    user-select: none;
}
@media screen and (min-width:992px) {
    .hide-lg{
        display: none !important;
    }
}
@media screen and (min-width:765px) and (max-width:992px) {
    .hide-md{
        display: none !important;
    }
}
@media screen and (max-width:765px) {
    h2{
        font-size: 2.5rem;
    }
    .hide-sm{
        display: none !important;
    }
}
/*==================================================================
                        navbar
==================================================================*/
@keyframes dropdown-anime {
    0%{
        display: block !important;
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
}
.navbar{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px;
    transition: 0.5s;
    background: white;
    .navbar-brand img{
        height: 30px;
    }
    .navbar-collapse{
        justify-content: center;
        .navbar-nav{
            gap: 5px;
            position: relative;
        }
        .nav-item{
            position: static;
        }
        .nav-item .nav-link{
            text-transform: capitalize;
            background-image: linear-gradient(to right,#54b3d6,#54b3d6 50%,#908d8d 50%);
            background-size: 200% 100%;
            background-position: 100%;
            background-clip: text;
            transition: transform 0.4s,background-position 1s;
            color: transparent;
            letter-spacing: 1px;
            font-size: 18px;
        }
        .nav-item .dropdown-toggle::after{
            display: none;
        }
        .nav-item .nav-link:hover{
            background-position: 0;
            transform: translateY(-3px);
        }
        .nav-item .dropdown-menu{/* dropdown */
            width: 100%;
            left: 0;
            transform: translateY(50px);
        }
        #dropdown-menu-b{/* service dropdown */
            border: 0;
            border-radius: 10px;
            .services-li{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                gap: 10px;
                padding: 15px 20px;
                .dropdown-itm{
                    text-decoration: none;
                    .img-div{
                        width: 100%;
                        height: 100px;
                        border-radius: 5px;
                        overflow: hidden;
                        transition: 0.4s;
                        img{
                            width: 100%;
                            height: 100%;
                            transition: transform 0.5s;
                            filter: blur(0.8px) grayscale(0.47);
                        }
                    }
                    .heading{
                        font-weight: bold;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        color: #454141b6;
                        transition: 0.4s;
                    }
                }
                .dropdown-itm:hover{
                    .img-div{
                        border-radius: 15px;
                    }
                    .img-div img{
                        transform: scale(1.2);
                        filter: none;
                    }
                    .heading{
                        background: linear-gradient(45deg, #198754, #0f5132);
                        background-clip: text;
                        color: transparent;
                    }
                }
            }
        }
    }
    
    
svg {/* navbar toggler */
    height: 50px;
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
  }
  .plate {
    height: 50px;
    position: relative;
    width: 50px;
    cursor: pointer;
    border: 0;
    z-index: 21;
  }
  .burger {
    filter: url(#gooeyness);
  }
  .x {
    transform: scale(0);
    transition: transform 400ms;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
  }
  .x .line {
    stroke-width: 5.5px;
  }
  .plate1 .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
  }
  .plate1 .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
  }
  .active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
  }
  .active.plate1 .line1 {
    transform: scale(0, 1);
    transition: transform 500ms 100ms;
  }
  .active.plate1 .line2 {
    stroke-dasharray: 5px 200;
    stroke-dashoffset: -164px;
  }
  .active.plate1 .line3 {
    stroke-dasharray: 5px 179;
    stroke-dashoffset: -142px;
  }
  .active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
  }/* navbar toggler END */

  /* scroll indicator*/
.progress-container {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .progress-bar {
    height: 5px;
    width: 0%;
    border-radius: 0 3px 3px 0;
    background: linear-gradient(45deg, #176c44, #2aac70);
  }
  /* scroll indicator end*/
}
.navbar.hide{
    transform: translateY(-100%);
    transition: 0.5s;
}
.navbar.show,.navbar.hide.show{
    transform: translateY(0) !important;
}

@media screen and (min-width:992px) {
    .navbar .nav-item.dropdown:hover .dropdown-menu{
        display: block;
        animation: dropdown-anime 0.5s linear both;
    }
}
@media screen and (min-width:1056px) and (max-width:1200px) {
    .navbar .navbar-collapse .nav-item .nav-link{
        font-size: 15px;
    }
}
@media screen and (min-width:992px) and (max-width:1056px) {
    .navbar .navbar-collapse .nav-item .nav-link{
        font-size: 14px;
        padding: 5px;
    }
}
@media screen and (max-width:992px) {
    .navbar{
        padding: 20px;
        .navbar-brand{
            z-index: 21;
        }
        .navbar-brand.z-index{
            z-index: 19;
        }
        .navbar-collapse{
            display: block;
            position: fixed;
            z-index: 20;
            padding-top: 100px;
            padding-left: 30px;
            background: white;
            transform: translateX(100%);
            right: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            max-width: 350px;
            transition: 0.5s;
            .navbar-nav .nav-item:nth-child(1){
                border-top: 1px solid #a5a5e2;
            }
            .navbar-nav .nav-item{
                border-bottom: 1px solid #a5a5e2;
            }
            .nav-item .dropdown-menu{/* dropdown menu */
                position: fixed;
                display: block;
                left: 0;
                top: 0;
                border: 0;
                transform: translateX(100%) translateY(0);
                height: 100vh;
                z-index: 600;
                transition: 0.5s;
                padding-left: 30px;
                padding-top: 0;
                .back-btn-li{
                    height: 100px;
                    padding: 0;
                    .back{
                        background-color: white;
                        border: 0;
                        font-size: 20px;
                    }
                }
            }
            #dropdown-menu-b{/* service dropdown */
                .services-li{
                    display: flex;
                    flex-direction: column;
                    .img-div{
                        max-width: 200px;
                        img{
                            filter: none !important; 
                        }
                    }
                }
            }
            .nav-item .dropdown-menu.show-l{
                transform: translateX(0) translateY(0);
                transition: 0.5s;
            }
            .nav-item .dropdown-menu.show-l.hide-l{
                transform: translateX(100%) translateY(0);
                transition: 0.5s;
            }
        }
        .navbar-collapse.show{
            transform: translateX(0);
        }
        
    }
}
/*==================================================================
                        navbar END
==================================================================*/


/*==================================================================
                        Banner 
==================================================================*/

  @keyframes rise {
    50% {
      color: #54c891;
      transform: translate(0, -15%);
      /* background-color: red;
      background-clip: text;
      color: transparent; */
    }
  }
  @keyframes banner-gif {
    50%{
        transform: translateY(-10px);
    }
  }
.banner{
    z-index: 5;
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    background: linear-gradient(0deg, #eef7f4, white);
    overflow-x: hidden;
    *{
        z-index: 2;
    }
    .container,.row{
        height: 100%;
    }
    .cnt-col,.img-col{
        align-items: center;
        display: flex;
    }

    .cnt-col{/* content part */
        .cnt{
            .title{
                font-size: 3.5rem;
                font-weight: bold;
                background: linear-gradient(45deg, #5f8b32, #0188b4);
                background-clip: text;
                color: transparent;
                width: fit-content;
                color: #393939;
            }
            .title .word{
                display: flex;
                width: fit-content;
            }
            .title span {/* title span */
                color: hsl(160.24deg 81.68% 20.46%);
                -webkit-animation: rise 2.25s infinite ease-in-out;
                        animation: rise 2.25s infinite ease-in-out;
                -webkit-animation-delay: calc((var(--index) - 6) * 0.225s);
                        animation-delay: calc((var(--index) - 6) * 0.225s);
                display: inline-block;
                background-clip: text;
              }
            .explore-btn{
                background: linear-gradient(45deg, #198754, #41c688);
                color: white;
                padding: 10px 20px;
                border: 0;
                border-radius: 10px;
                font-weight: bold;
                font-size: 20px;
                font-family: var(--josefin-sans-font);
            }
        }
    }

    .img-col .img-div{/* image part */
        width: 100%;
        .bnr-img{
            width: 100%;
            z-index: 100;
            position: relative;
            animation: banner-gif 2s linear infinite;
        }
    }
}
.banner::before{
    content: '';
    background: radial-gradient(#bce1ef 20%, white,white);
    width: 50%;
    height: 100%;
}
@media screen and (max-width:765px){
    .banner{
        height: fit-content;
        padding-bottom: 50px;
        padding-top: 100px;
        text-align: center;
        overflow-x: hidden;
        .cnt-col .cnt{
            padding-bottom: 20px;
        }
        .cnt-col .cnt .title{
            font-size: 2.5rem;
            .row{
                justify-content: center;
            }
        }
    }
}
/* .................................... banner shapes ................ */

  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes scale {
    50%{
        transform: scale(1.1);
    }
  }
.brand-name{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: fit-content;
    text-transform: uppercase;
    font-size: 10rem;
    bottom: 0;
    z-index: -1;
    color: #b8b1a30d;
    white-space: nowrap;
}
.shape-2{
    position: absolute;
    top: 200px;
    left: -19px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(#00000000 10%, #98bcd2);
    background-position-x: 7px;
   /*  animation: scale 5s linear both infinite; */
}
.shape-3{
    position: absolute;
    bottom: 0;
    /* left: -19px; */
    right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(#00000000 1%, #93c9e0 90%, #98bcd2);
    background-position-x: -14px;
    background-position-y: -10px;
}
/* ........................................... banner shapes END ................ */
@media screen and (max-width:900px) {
    .banner{
        .shape-1{
            display: none;
            height: fit-content;
        }
        .shape-3{
            bottom: auto;
            top: 330px;
            transform: translateX(20%);
        }
    }
}
/*==================================================================
                        Banner END
==================================================================*/
/*==================================================================
                        other shapes
==================================================================*/
.shape-1{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 90vh;
    left: -100px;
    background: transparent;
    border-radius: 50%;
    border: 50px solid rgba(173, 216, 230, 0.337);
    border-left: 50px solid transparent;
    z-index: 10;
	animation: rotate-center 10s linear both infinite;
}
/*==================================================================
                        other shapes END
==================================================================*/




/*==================================================================
                        About 
==================================================================*/
@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
.about.sctn-1{
    text-align: center;
    position: relative;
    padding: 50px 0;
    background: linear-gradient(0deg, #eef7f4, white);
    background: #eef7f4;
    .row{
        justify-content: center;
        z-index: 1;
        position: relative;

        .cnt-col{/* content part */
            .cnt .title{
                text-transform: capitalize;
            }
        }

        .icons-col{/* icons & image part */
            padding: 30px 0;
            .cards-div{
                grid-template-columns: repeat(5,1fr);
                grid-template-rows: repeat(2,1fr);
                gap: 20px;
                .card{
                    align-items: center;
                    justify-content: center;
                    padding: 20px 10px;
                    border: 0;
                    box-shadow: 0px 0px 9px 1px #302e2e40;
                    transition: 0.4s;
                    .icon-count{
                        .count-digit{
                            transition: --num 1s , display 0s;
                            counter-set: num var(--num);
                          }
                          .count-digit::after {
                            content: counter(num);
                            opacity: 0;
                            display: none;
                          }
                        lord-icon{
                            height: 70px;
                            width: 70px;
                            color: rgb(27, 229, 172);
                        }
                    }
                    .card-title{
                        color: gray;
                        text-transform: capitalize;
                    }
                }
                .item-1{
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                .item-3{
                    grid-column-start: 2;
                    grid-column-end: 5;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    align-items: center;
                    display: flex;
                }
                .card:hover{
                    background: linear-gradient(45deg, #198754, #0f5132);
                    border-radius: 15px;
                    transform: translateY(-10px);
                     .count-digit{
                        display: none;
                      }
                      .count-digit{
                        display: block;
                        width: fit-content;
                        opacity: 1;
                      }
                      .count-digit.a{
                        --num: 40;
                      }
                      .count-digit.b{
                        --num: 10000;
                      }
                      .count-digit.c{
                        --num: 1500;
                      }
                      .count-digit.d{
                        --num: 7;
                      }
                      .count-digit::after{
                        opacity: 1;
                        display: block;
                      }
                    .icon-count{
                        .count{
                            color: white;
                        }
                        lord-icon{
                            color: white;
                        }
                    }
                    .card-title{
                        color: #e5e5e5;
                    }
                }
            }
        }

        .img-div{/* image part */
            border-radius: 15px;
            overflow: hidden;
            transition: 0.4s;
            cursor: pointer;
            .about-img{
                transition: 0.5s;
            }
        }
        .img-div:hover{
            transform: scale(0.9);
            .about-img{
                transform: scale(1.2);
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .about.sctn-1{
        .row .icons-col{
            padding: 30px 50px;
        }
    }
}
@media screen and (max-width:992px) {
    .about.sctn-1{
        .row .icons-col .cards-div{
            grid-template-columns: repeat(2,1fr);
            .item-1{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            .item-2{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            .item-4{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            .item-5{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            .item-3{
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }
    } 
}
@media screen and (max-width:765px) {
    .about.sctn-1{
        .row .icons-col{
            padding: 0 30px;
        }
    }
}
/*==================================================================
                        About END
==================================================================*/




/*==================================================================
                        india map /sctn-2
==================================================================*/
#IN {fill: rgb(20 144 208);}
#IN:hover {fill: rgb(19, 106, 149);}
.world-map.sctn-2{
    background-color: #eef7f4;
    padding-top: 100px;
    .row{
        margin: 0;
    }
    #chartdiv{
        width: 100%;
        height: 80vh;
        border: 1px solid rgb(207, 204, 243);
        border-radius: 10px;
    }
    .map-col{
        position: relative;
    }
    .map-col .pos-abs-div{
        position: absolute;
        bottom: 2px;
        left: 2px;
        border-radius: 10px;
        padding: 10px;
        background-color: #eef7f4;
    }
}
@media screen and (max-width:765px) {
    .world-map.sctn-2{
        padding-top: 0;
    }
    .world-map.sctn-2 #chartdiv{
        height: 400px;
    }
}
/*==================================================================
                        india map /sctn-2 END
==================================================================*/



/*==================================================================
                        services /sctn-3 
==================================================================*/
@keyframes service {
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
.services.sctn-3{
    background-color: #eef7f4;
    padding-top: 0;
    padding-bottom: 50px;
    .cnt-col{/* content part */
        .title{
            text-transform: capitalize;
        }
        .services-div{
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            .service{
                display: flex;
                gap: 5px;
                padding: 35px;
                transition: 0.5s;
                border-radius: 10px;
                background-color: white;
                transition: 0.5s;
                cursor: pointer;
            }
            .service .cnt{
                .title{
                    transition: 0.5s;
                }
                p{
                    line-height: 1;
                    font-size: 12px;
                    color: grey;
                    transition: 0.5s;
                }
            }
            .service span.icon img{
                height: 50px;
                filter: invert(78%) sepia(17%) saturate(1500%) hue-rotate(95deg) brightness(86%) contrast(89%);
            }
            .service:nth-child(1) span.icon img{
                filter: invert(78%) sepia(17%) saturate(1500%) hue-rotate(95deg) brightness(86%) contrast(89%);
            }
            .service:nth-child(2) span.icon img{
                filter: invert(67%) sepia(85%) saturate(754%) hue-rotate(288deg) brightness(98%) contrast(86%);
            }
            .service:nth-child(3) span.icon img{
                filter: invert(56%) sepia(47%) saturate(966%) hue-rotate(190deg) brightness(105%) contrast(82%);
            }
            .service:nth-child(4) span.icon img{
                filter: invert(84%) sepia(54%) saturate(442%) hue-rotate(70deg) brightness(96%) contrast(89%);
            }
            .service:nth-child(5) span.icon img{
                filter: invert(82%) sepia(100%) saturate(254%) hue-rotate(0deg) brightness(95%) contrast(91%);
            }
            .service:nth-child(6) span.icon img{
                filter: invert(78%) sepia(96%) saturate(2423%) hue-rotate(306deg) brightness(96%) contrast(88%);
            }
            .service:nth-child(7) span.icon img{
                filter: invert(65%) sepia(100%) saturate(2828%) hue-rotate(319deg) brightness(101%) contrast(82%);
            }
            .service:nth-child(8) span.icon img{
                filter: invert(52%) sepia(90%) saturate(1761%) hue-rotate(227deg) brightness(92%) contrast(98%);
            }
            .service:nth-child(9) span.icon img{
                filter: invert(72%) sepia(76%) saturate(3354%) hue-rotate(288deg) brightness(100%) contrast(83%);
            }
            .service:nth-child(10) span.icon img{
                filter: invert(61%) sepia(29%) saturate(4837%) hue-rotate(202deg) brightness(92%) contrast(97%);
            }
            .service:nth-child(11) span.icon img{
                filter: invert(87%) sepia(57%) saturate(587%) hue-rotate(1deg) brightness(93%) contrast(91%);
            }
            .service:hover,.service.show{
                background: linear-gradient(45deg, #198754, #0f5132);
                animation: service 0.2s linear;
                .cnt .title{
                    color: white;
                }
                .cnt p{
                    color: wheat;
                }
                span.icon img{
                    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(322deg) brightness(102%) contrast(101%);
                }
            }
        }
    }
}

@media screen and (max-width:765px) {
    .services.sctn-3{
        .cnt-col .services-div{
            grid-template-columns: repeat(1,1fr);
        }
        .cnt-col .services-div .service{
            flex-direction: column-reverse;
            padding: 20px;
            justify-content: flex-end;
        }
    }
}
/*==================================================================
                        services /sctn-3 END
==================================================================*/




/*==================================================================
                        sectors / sctn-4 
==================================================================*/
.sectors.sctn-4{
    padding: 50px 0;
    .container{
        z-index: 5;
        position: relative;
    }
    .sectors-div{/* sectors/cards part */
        grid-template-columns: repeat(2, 1fr);
        z-index: 5;
        height: 100%;
        gap: 20px;
        .card.sector{
            padding: 10px;
            padding-left: 20px;
            padding-top: 20px;
            flex-direction: row;
            justify-content: space-between;
            border: 0;
            .card-title{
                text-transform: capitalize;
                letter-spacing: 1px;
                color: white;
            }
            .sector-img{
                width: 40%;
                height: 100%;
                object-fit: contain;
            }
        }
        .card.sector:nth-child(1){
            background: linear-gradient(45deg, #7a4135, #fead7f);
        }
        .card.sector:nth-child(2){
            background: linear-gradient(45deg, #4f4b28, #e2e28a);
        }
        .card.sector:nth-child(3){
            background: linear-gradient(45deg, #536770, #659fdb);
        }
        .card.sector:nth-child(4){
            background: linear-gradient(45deg, #246454, #51bfa6);
        }
    }
}
.sectors.sctn-4::before{
    content: '';
    height: 50%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
    background-image: radial-gradient(#000000 0.5px, transparent 0.5px), radial-gradient(#000000 0.5px, #ffffff00 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}
.sectors.sctn-4::after{
    z-index: 1;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    
    background: linear-gradient(180deg, #eef7f4 60%, rgba(255, 255, 255, 0));
}
@media screen and (max-width:765px) {
    .sectors.sctn-4{
        .sectors-div{/* sectors/cards part */
            grid-template-columns: repeat(1, 1fr);
        }
        .row .img-col{
            display: none;
        }
    }
}
/*==================================================================
                        sectors / sctn-4 END
==================================================================*/



/*==================================================================
                        google review / sctn-5 
==================================================================*/
.google-review.sctn-5{
    background-image: radial-gradient(#000000 0.5px, transparent 0.5px), radial-gradient(#000000 0.5px, #ffffff00 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    padding-bottom: 200px;
    .row.title-row2{/* google logo-button  */
        .col-md-8.google-title-col{
            align-items: center;
            gap: 10px;
            .google-review-logo-img{
                height: 50px;
            }
            .rating-div{
                font-size: 35px;
                background: linear-gradient(45deg, #f1b500, #ffd863);
                /* background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #be8c3c 35%, #ffc124 40%, #be8c3c 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%) */;
                background-clip: text;
                color: transparent;
            }
        }
        .view-more-col .view-more-btn{
            color: white;
            background-color: blue;
            background: linear-gradient(45deg, #0b3b81, #0d6efd);
            border: 0;
            border-radius: 5px;
            padding: 10px 15px;
            height: fit-content;
        }
    }

    .slider.review-slider{/* slider */
        padding-top: 10px;
        .slide.card{
            margin: 0 10px;
            .profile-row{
                gap: 10px;
                .profile-div .profile{
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    border-radius: 50%;
                    color: white;
                    background: linear-gradient(45deg, #0b3b81, #0d6efd);
                    font-size: x-large;
                }
                .name-date-div .date{
                    color: gray;
                }
            }
            .rating-row{
                color: gold;
                padding-bottom: 10px;
            }
        }
    }
}
/*==================================================================
                        google review / sctn-5 END
==================================================================*/


/*==================================================================
                        footer
==================================================================*/
/* wave Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  
footer{
    min-height: 80vh;
    display: flex;
    z-index: 5;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(360deg, black, #6178d0);
    padding-top: 100px;
    a{
        text-decoration: none;
    }
    .footer-logo{
        height: 50px;
    }


    .copyright-div{/* copyright part */
    display: flex;
    justify-content: space-between;
      span,span a{
        font-family: var(--josefin-sans-font);
      }
    }

    .waves{/* wave animation */
        position:absolute;
        width: 100%;
        height:15vh;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        margin-bottom:-7px; /*Fix for safari gap*/
        min-height:150px;
        max-height:200px;
        padding-top: 50px;
      }
}
footer::before{
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    background: url(../img/banner/footer-bnr.gif);
    background-size: 100% auto;
    background-position: bottom;
}
/*Shrinking for mobile*/
@media screen and (max-width: 768px) {
    footer{
        .copyright-div{
            flex-direction: column;
            gap: 20px;
        }
        .social-md{
            flex-direction: column;
        }
    }
    footer .waves {
      min-height:40px;
    }
  }
/*==================================================================
                        footer END
==================================================================*/



/*==================================================================
                        whatsapp and call buttons
==================================================================*/
.qk-contact-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 300;
    left: 0;
    padding: 15px 5px;
    gap: 10px;
    .wtsap-btn-col,.call-btn-col{
        width: 50%;
        position: relative;
        height: 50px;
        transition: 1s;
    }
    .wtsap-btn,.call-btn{
        text-decoration: none;
        color: white;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        height: 50px;
        overflow-y: hidden;
        width: fit-content;
        white-space: nowrap;
        transition: 0.5s;
        position: absolute;
        top: 0;
    }
    .call-btn{/* call */
        background: linear-gradient(45deg, #0d6efd, #084298);
        right: 0;
    }
    
    .wtsap-btn{/* whatsapp */
        background: linear-gradient(45deg,#0f5132,#198754);
        left: 0;
    }
    .icon{
        height: 50px;
        width: 50px;
        font-size: 25px;
        font-weight: bold;
        transition: 0.5s;
    }
    .number{
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        width: 0;
        transition: 0.5s;
        .wdth{
            width: 13px;
            display: flex;
            opacity: 0;
            transition: 0.5s;
        }
    }
    .wtsap-btn:hover,.call-btn:hover{
        .number{
            width: 100%;
        }
    }
}
.qk-contact-bar.scrolled{
    .call-btn-col{/* call */
        transform: translateX(100%);
    }
    
    .wtsap-btn-col{/* whatsapp */
        transform: translateX(-100%);
    }
}
/*==================================================================
                        whatsapp and call buttons END
==================================================================*/